

<div class="row">
	<div class="span12">
		<h3>Los libros siguen su rumbo por nuestra ciudad, revisa donde han sido encontrados.</h3>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div id="findings_map_canvas" data-findings='<%= @findings.map(&:location) %>'></div>
	</div>
</div>