<div class="row">
  <div class="span12">
    <h2>¡Has encontrado un libro!</h2>
    <br />
    <p>Ayúdanos completando el siguiente formulario. ¡Muchas gracias!</p>
  </div>
</div>

<%= render 'form' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="span12">
			<br />
			<%= link_to('(Todos)', findings_path) %>
		</div>
	</div>
<% end %>