.navbar.transparent.navbar-fixed-top
  .navbar-inner
    %ul.nav.pull-right{style: 'background-color: #9C0000;'}
      %li
        %a{href: '#quiero'}
          %img.img-menu{src: '/assets/diab/quiero.png'}
      %li
        %a{href: '#buzones'}
          %img.img-menu{src: '/assets/diab/buzones.png'}
      %li
        %a{href: '#diab'}
          %img.img-menu{src: '/assets/diab/diab.png'}
      %li
        %a{href: '#participa'}
          %img.img-menu{src: '/assets/diab/participa.png'}
