.row
  .span12
    %img{src: '/assets/diab/textologo.png', style: 'width: 680px;'}

.row
  .span12{style: 'text-align:center;'}
    %img{src: '/assets/diab/texto.png', style: 'width: 830px;text-align:center;margin-top:20px; margin-bottom:20px;'}

.row
  .span6
    .vc
      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "//www.youtube.com/embed/woYDS8Zn1-Q", :width => "570px", height: "300px"}
  .span6{style: 'text-align:center;'}
    %img{src: '/assets/diab/como.png', style: 'width: 80%;text-align:center;margin-top:20px;'}
    %img{src: '/assets/diab/paso1.png', style: 'width: 80%;text-align:center;margin-top:20px;'}
    %img{src: '/assets/diab/paso2.png', style: 'width: 80%;text-align:center;margin-top:20px;'}

.row
  .span12{style: 'text-align:center;'}
    %img{src: '/assets/diab/parentesis.png', style: 'width: 850px;text-align:center;margin-top:20px; margin-bottom:20px;'}