<div class="row">
	<div class="span2 offset1">
		<p style="color: #ffffff">.</p>
		<ul class="nav nav-pills nav-stacked">
  			<li class="active"><a href="/posts/new"> Manifiesto</a></li>
  			<li><a href="/about/equipo"> Equipo</a></li>
  			<li><a href="/about/faqs"> Preguntas Frecuentes</a></li>
  			<li><a href="/contact"> Contacto</a></li>
		</ul>
	</div>
	<br>
