<div class="row">
	<div class="span8 offset2">
		<h3>¡Visitas las bibliotecas amigas!</h3>
	</div>
</div>
<div class="row">
	<div class="span8 offset2 pagination-centered">
		<iframe src="http://mapsengine.google.com/map/embed?mid=zE084UUr-kbM.k3PLhIh90et8" width="100%" height="550"></iframe>
	</div>
</div>