<div class="row">
	<div class="span8 offset2">
		<h2> Transeúntes del centro de Santiago pueden disfrutar desde marzo de libros “liberados” en antiguas cabinas telefónicas </h2>
		<br>
		<p>
			Santiago, 07 de marzo de 2014.- Para nadie es un misterio que con la llegada masiva de los celulares las antiguas casetas telefónicas del centro de Santiago comenzaron paulatinamente a quedar en desuso. Por eso, decididos a recuperar estas instalaciones que han quedado en el olvido, el colectivo La Biblioteca Libre, que lidera un grupo de profesionales que fomentan la lectura a través del intercambio de libros, presentó un proyecto a la Municipalidad para utilizar estas estructuras como “Bilbiocabinas”.

			La iniciativa comenzó esta semana con la ocupación de las instalaciones ubicadas en cinco puntos del casco histórico: Paseo Ahumada con Alameda, Paseo Ahumada con Nueva York, Paseo Ahumada con Agustinas, la intersección de Huérfanos con Estado y Paseo Estado con Moneda. Tanto en las mañanas como en la tarde, voluntarios de La Biblioteca Libre van reponiendo estos estantes con libros de literatura, ciencia, artes e historia, entre otras materias.

			Las Bibliocabinas funcionan de la siguiente manera: hay libros disponibles diariamente y el objetivo es que la persona que saque uno lo devuelva a alguna de las cabinas cuando lo termine y así otro usuario también puede aprovechar el libro. Si puede aportar con uno propio, mejor, ya que así contribuye a formar una biblioteca colectiva. 

			Desde el día lunes en que comenzaron a funcionar las 5 cabinas, con el apoyo de la Municipalidad de Santiago, se han “liberado” unos 300 libros de parte de La Biblioteca Libre en los paseos públicos antes señalados. 

			Cada libro viene con un código y la idea es que el usuario de la publicación pueda registrar que está en posesión de éste en la página web www.labibliotecalibre.cl  y a la fecha ya se han registrado cerca de un 20% de ellos, lo que ha permitido saber cómo esta biblioteca colectiva se ha ido expandiendo a otras comunas fuera de Santiago.

			La Biblioteca Libre se basa en tres principios: encuentra, lee y comparte. Ya han hecho otras intervenciones, en espacios públicos como plazas, parques e incluso taxis. En el primer año de funcionamiento de este sistema de intercambio de libros ya han estado presente en más de 20 lugares de la capital y han “liberado” cerca de 20 mil libros.
		</p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="span8 offset2">
		<div id="myCarousel3" class="carousel slide" data-ride="carousel" style="width: 800px; height: 533px;">
			<div class="carousel-inner">
				<div class="item active" align="center">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3419ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3437ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3467ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3520ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3525ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3568ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3585ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3594ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3624ss+copia.jpg" alt="" />
				</div>
			</div>
			<a class="left carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		Fotógrafo: Luis Hidalgo
	</div>
</div>

