<div class="row">
	<div class="span6 offset1">
		<h2> Transeúntes del centro de Santiago pueden disfrutar desde marzo de libros “liberados” en antiguas cabinas telefónicas </h2>
		<br>
		<p>
			Para nadie es un misterio que con la llegada masiva de los celulares las antiguas casetas telefónicas del centro de Santiago comenzaron paulatinamente a quedar en desuso. Por eso, decidimos presentar un proyecto a la Municipalidad para utilizar estas estructuras como “Bilbiocabinas”.
		</p>
	</div>
	<div class="span4" style="margin-left:40px">
		<iframe width="450px" height="300px" src="//www.youtube.com/embed/mMWegemip7c" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="row">
	<div class="span6 offset1" style="margin-top:-60px">
			<p>
			La iniciativa comenzó el pasado martes 25 de febrero con la ocupación de las cabinas telefónicas ubicadas en cinco puntos del casco histórico: Paseo Ahumada con Alameda, Paseo Ahumada con Nueva York, Paseo Ahumada con Agustinas, la intersección de Huérfanos con Estado y Paseo Estado con Moneda. 
		</p>
		<br>
		<img src="https://s3.amazonaws.com/bibliorock/Mapa+Bibliocabinas02-42.jpg" width:"600" height="350" alt="" />
		<br><br>
		<p>
			Las Bibliocabinas funcionan de la siguiente manera: hay libros disponibles diariamente y el objetivo es que la persona que saque uno lo devuelva a alguna de las cabinas cuando lo termine y así otro usuario también puede aprovechar el libro. Si puede aportar con uno propio, mejor, ya que así contribuye a formar una biblioteca colectiva.  
		</p>
		<p>
			Una vez al día, nuestros voluntarios van reponiendo estos estantes con libros de literatura, ciencia, artes e historia, entre otras materias. ¡La buena noticias es que más de 500 libros ya han sido liberados bajo este método! 
		</p>
		<p>
			Los invitamos a que visiten estos espacios y a que los hagan suyos. Contribuyan con la mayor cantidad de libros que puedan, para que más gente pueda aprovecharlos.
		</p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="span6 offset1">
		<div id="myCarousel3" class="carousel slide" data-ride="carousel" style="width: 600px; height: 401px;">
			<div class="carousel-inner">
				<div class="item active" align="center">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3419ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3437ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3467ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3520ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3525ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3568ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3585ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3594ss+copia.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/bibliocabinas/_MG_3624ss+copia.jpg" alt="" />
				</div>
			</div>
			<a class="left carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6 offset1">
		<p class="text-muted"><small>Fotografías de Luis Hidalgo</small></p>
	</div>
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=#{Ahumada+11+,+Santiago}&zoom=14&size=300x300&markers=#{Ahumada+11+,+Santiago}&sensor=false" alt="" />

