<div class="row">
	<div class="span12">
		<h3>¡Visitas las bibliotecas amigas!</h3>
	</div>
</div>
<div class="row">
	<div class="span12 pagination-centered">
		<iframe src="http://mapsengine.google.com/map/embed?mid=zbpdwwYUGqwk.kuRSFPps8WcU" width="100%" height="550"></iframe>
	</div>
</div>