<div class="row" style="margin-left: 6px">
	<img src="https://s3.amazonaws.com/bibliorock/Li%CC%81neas-02-1.jpg" alt="" />
</div>
<div class="row" style="margin-left: 10px">
	<div class="span2" style="margin-left: 12px">
		<a href="http://www.catedraslibres.org"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-01.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px;">
		<a href="http://www.startupchile.org"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-02-1.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px">
		<a href="http://www.fau.uchile.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-03.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px">
		<a href="http://www.injuv.gob.cl/portal/"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-04-1.png" height="150" width="150" alt="" /></a>
	</div>
</div>
<div clas="row" style="margin-left: 6px">
	<img src="https://s3.amazonaws.com/bibliorock/Li%CC%81neas-03-1.jpg" alt="" />
</div>
<div class="row" style="margin-left: 10px">
	<div class="span2" style="margin-left: 12px">
		<a href="http://www.ccplm.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-05-1.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px;">
		<a href="http://www.gam.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-06-1.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px;">
		<a href="http://www.municipalidaddesantiago.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-07-1.png" height="150" width="150" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 70px;">
		<a href="http://www.providencia.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-08.png" height="150" width="150" alt="" /></a>
	</div>
</div>
<div class="row" style="margin-left: 20px">
	<div class="span2" style="margin-left: 12px">
		<a href="http://www.leechilelee.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-09.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://www.cultura.gob.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-10.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://www.lollapaloozacl.com"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-11-1.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://editoresdechile.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-12-1.png" height="101" width="101" alt="" /></a>
	</div>
</div>
<div class="row" style="margin-left: 20px">
	<div class="span2" style="margin-left: 12px">
		<a href="http://providencia-biblioteca.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-13-1.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://www.easytaxi.com/cl/"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-14.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://www.mapaliterario.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-15-1.png" height="101" width="101" alt="" /></a>
	</div>
	<div class="span2" style="margin-left: 1px;">
		<a href="http://editoresdechile.cl"><img src="https://s3.amazonaws.com/bibliorock/logos+undividuales-16-1.png" height="101" width="101" alt="" /></a>
	</div>
</div>