<div class="span10 offset1">
	<div class="row">
		<h2 style="color:#727272">
		Todos los posts
		</h2>
	</div>
	<br><br>
	<div class="row">
		<% i=2 %> 
		<% while i <= Post.last.id %>
			<div class="span1">
				<%= link_to (image_tag Post.find(i).picture.url(:thumb)), Post.find(i) %>
			</div>
			<div class="span2" style="margin-left: 8px">
				<%= link_to (Post.find(i).title), Post.find(i) %>
			</div>
			<% i=i+1 %>
		<% end %>
	</div>
</div>