<div class="row">
	<div class="span8 offset2">
		<strong>Hola biblioamiga, biblioamigo,</strong>
		<br />
		<br />

		<p>En esta sección nos gustaría pedirte algo.</p>

		<p>Llevamos casi 1 año trabajando por mejorar el acceso a los libros en las calles de Santiago. Liberaciones, intervenciones urbanas, carnavales ciudadanos, Biblio Taxi y las Bibliocabinas han sido nuestro método y nuestra propuesta. La recepción ha sido increíble: más de 22.000 libros se han intercambiado, con un total de beneficiados que supera las 14.000 personas (si solo consideramos a quienes han asistido a las liberaciones de libros). Para qué mencionar el impacto en las redes sociales. Todo eso lo hemos logrado con mucho tiempo y con lo poco que tenemos.</p>

		<p>Ahora, para que la Biblioteca Libre pueda seguir creciendo y que llegue a nuevos lugares necesitamos tu apoyo. Liberar libros en regiones y mejorar lo que hemos desarrollado en Santiago son los pasos siguientes para masificar el proyecto y hacer un cambio en los hábitos de lectura que actualmente tenemos en nuestro país.</p>

		<p>Sabemos que existen otras formas de conseguir los recursos que necesitamos, pero éstas nos obligan a sacrificar parte de la independencia del proyecto y eso es algo que no podemos transar. Queremos que la Biblioteca Libre siga siendo el punto de encuentro de todos y para todos.</p>

		<p>Si puedes colaborar con un aporte monetario sería genial. Si no puedes o no quieres, no hay problema. Jamás limitaremos el acceso a los libros por algo así. El financiamiento es un tema al que debemos dedicarle muchas horas a la semana, y a nosotros nos gustaría usar esas horas para organizar más y mejores formas de liberar y compartir libros.</p>

		<p>Ayúdanos y súmate al proyecto de mejorar los hábitos de lectura en Chile. Estamos seguros que lo podemos lograr.</p>

		<p>Gracias.</p>

		<p>El equipo de la Biblioteca Libre.</p>

		<div class="alert alert-info">
			<p>¿Cómo hacer un donativo?</p>

			<p>Escríbenos a donativos@catedraslibres.com y te llegará rápidamente una respuesta con los datos de la cuenta para que puedas depositar y/o transferir. Dona lo que puedas y muchas gracias por todo.</p>
		</div>

	</div>
</div>