<div class="row">
	<div class="span2 offset1">
		Sobre la biblioteca libre
		<p style="color: #ffffff">.</p>
		<ul class="nav nav-pills nav-stacked">
  			<li><a href="#"> Manifiesto</a></li>
  			<li class="active"><a href="#"> Equipo</a></li>
  			<li><a href="/about/faqs"> Faqs</a></li>
  			<li><a href="#"> Contacto</a></li>
		</ul>
	</div>
	<br>
	<div class="span2">
		<img src="https://s3.amazonaws.com/bibliorock/Equipo-1.png" alt="" />
	</div>
</div>