<div class="row">
	<div class="span2 offset1">
		Sobre la biblioteca libre
		<p style="color: #ffffff">.</p>
		<ul class="nav nav-pills nav-stacked">
  			<li class="active"><a href="/posts/new"> Manifiesto</a></li>
  			<li><a href="#"> Equipo</a></li>
  			<li><a href="/about/faqs"> Faqs</a></li>
  			<li><a href="#"> Contacto</a></li>
		</ul>
	</div>
	<br>
	<div class="span7 offset1 well negro center"
	<dl>
		<h2> Preguntas Frecuentes </h2>
		<br><br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo');"><p><strong>¿De qué se trata La Biblioteca Libre?</strong></p></a>
		<div id="foo" style="display:none">En pocas palabras: encuentra, lee y comparte!</div>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo1');"><p><strong>¿Pueden resumir cómo funciona La Biblioteca Libre en unos pocos pasos?</strong></p></a>
		<div id="foo1" style="display:none">Cada libro que encuentres y que tenga un código y adhesivo de La Biblioteca Libre tienes que registrarlo en esta página. Así sabremos que está en buenas manos y está siendo usado. En este proceso es muy importante compartirlo cuando lo hayas terminado, para que nadie se quede sin la oportunidad de leerlo.

		Los libros de La Biblioteca Libre no son de nadie en particular y son de todos en general.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo2');"><p><strong>¿Cómo registro un libro de La Biblioteca Libre que encontré o me pasaron?</strong></p></a>
		<div id="foo2" style="display:none">En esta página haz clic en el botón ¡REGÍSTRALO ACÁ! y completa los datos.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo3');"><p><strong>Encontré un libro de La Biblioteca Libre. ¿Qué tengo que hacer?</strong></p></a>
		<div id="foo3" style="display:none">Léelo! Luego, compártelo!</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo4');"><p><strong>¿Dónde encuentro más libros?</strong></p></a>
		<div id="foo4" style="display:none">También puedes encontrarlos en las Liberaciones de Libros que organizamos, las que tienen un funcionamiento itinerante en la comuna de Santiago.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo5');"><p><strong>¿A qué se refieren con liberar un libro?</strong></p></a>
		<div id="foo5" style="display:none">En La Biblioteca Libre creemos que cada libro tiene su magia, pero que se pierde si nadie lo lee. Por eso los liberamos, para que quien quiera pueda leerlos y disfrutarlos. La verdadera magia está en compartir.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo6');"><p><strong>¿La Biblioteca Libre tiene algún espacio físico propio?</strong></p></a>
		<div id="foo6" style="display:none">No. En las Liberaciones de Libros hacemos uso de espacios públicos como parques y plazas, para que nadie quede fuera. Tienes que revisar periódicamente este sitio para enterarte de la próxima Liberación.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo7');"><p><strong>¿Qué hago si se me pierde un libro?</strong></p></a>
		<div id="foo7" style="display:none">Mala noticia… Bueno, una lástima. No te preocupes, no quedarás en la lista negra. Más cuidado para la próxima.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo8');"><p><strong>¿Qué hago si el código no venía en el libro?</strong></p></a>
		<div id="foo8" style="display:none">Ingrésalo como una liberación tuya. Para eso tienes que hacer clic en el botón ¡LIBÉRALO ACÁ! y llenar los campos necesarios. Recuerda compartirlo cuando lo hayas terminado.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo9');"><p><strong>¿Puedo poner en circulación mis libros?</strong></p></a>
		<div id="foo9" style="display:none">Por supuesto! Para eso tienes que hacer clic en el botón ¡LIBÉRALO ACÁ! y llenar los campos necesarios. Luego, compártelos con una persona a la que le puedan interesar los libros. También puedes llevarlos a nuestras Liberaciones de Libros.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo10');"><p><strong>¿Tengo que leer un libro antes de liberarlo?</strong></p></a>
		<div id="foo10" style="display:none">Sólo si tú quieres.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo11');"><p><strong>¿Cómo lo hago para encontrar un libro que hace tiempo estoy buscando?</strong></p></a>
		<div id="foo11" style="display:none">Cuando hacemos las Liberaciones de Libros publicamos el catálogo de los libros que tiene en su momento La Biblioteca Libre. Ahí puedes buscar un libro en particular. Para llevártelo, invoca a tus dioses y llega temprano a la actividad.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo12');"><p><strong>¿Qué pasa si me quedo con el libro y no lo comparto?</strong></p></a>
		<div id="foo12" style="display:none">Mala idea. Nos gusta confiar en la gente, por lo que esperamos que eso no pase. No nos decepciones.</div></p>
		<br>
		<a href='javascript:void(0)' onclick="toggle_visibility('foo13');"><p><strong>¿Cómo le paso el libro a otra persona? ¿Dónde? ¿A quién? ¿Qué le digo?</strong></p></a>
		<div id="foo13" style="display:none">Revisa que tenga el código. Después, busca a una persona especial para ti a la cual le pueda interesar el libro. Posteriormente, cuéntale sobre esta genial iniciativa y recuérdale que tiene que registrar el libro para que nosotros nos enteremos de que está en buenas manos. Por último, dile que haga lo mismo que hiciste tú: compartirlo.</div></p>
	</dl>
	</div>