<div class="row">
<div class="span8 offset2">
		<div id="myCarousel3" class="carousel slide" data-ride="carousel" style="width: 800px; height: 533px;">
			<div class="carousel-inner">
				<div class="item active" align="center">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-1.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-2.jpeg" alt="" />
				</div><div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-3.jpeg" height="533" width="355" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-7.jpeg" height="533" width="355" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-8.jpeg" height="533" width="355" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-9.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-10.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-11.jpeg" height="533" width="355" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-13.jpeg" height="533" width="355" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-15.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-16.jpeg" height="533" width="355" alt="" />
				</div>
			</div>
			<a class="left carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
</div>
</div>
<div class="row">
	<div class="span8 offset2">
	<p class="text-muted"><small>Fotografías de Mauricio Gómez</small></p>
</div>
</div>