<div class="row">
<div class="span8 offset1" style="margin-left:80px">
	<h3 style="color:#727272">Liberación de libros en el Parque Forestal</h3>
	<br>
	<p style="width:720px">
		Un increíble ambiente se vivió en esta ocasión, ya que la liberación de libros coincidió con el Día del Patrimonio Cultural de Chile.
		En la Plaza Libertad de Prensa, pleno centro de Santiago, cientos de personas se acercaron a intercambiar sus libros y a conocer la historia y cultura del barrio.
		Muchas gracias al Espacio de las Artes Concha y Toro por invitarnos a participar.
	</p>
	<br>
		<div id="myCarousel3" class="carousel slide" data-ride="carousel" style="width: 720px; height: 480px;">
			<div class="carousel-inner">
				<div class="item active" align="center">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-1.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-2.jpeg" alt="" />
				</div><div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-3.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-7.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-8.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-9.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-10.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-11.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-13.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-15.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+3/biblioteca_libre-16.jpeg" height="480" width="320" alt="" />
				</div>
			</div>
			<a class="left carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
</div>
<div class="span4" style="margin-top:100px; margin-left:-20px">
	<a href="/galerias"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-77.jpg" style="margin-bottom:10px" alt="" /></a>
	<br><br>
	<a href="/galeria7"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-67.jpg" alt="" /></a>
	<a href="/galeria7"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-69.jpg" style="margin-left:20px" alt="" /></a>
	<br><br>
	<a href="/galeria6"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-61.jpg" alt="" /></a>
	<a href="/galeria6"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-70.jpg" style="margin-left:20px" alt="" /></a>
	<br><br>
	<a href="/galeria5"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-63.jpg" alt="" /></a>
	<a href="/galeria5"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-72.jpg" style="margin-left:20px" alt="" /></a>
	<br><br>
	<a href="/bibliocabinas"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-66.jpg" alt="" /></a>
	<a href="/bibliocabinas"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-75.jpg" style="margin-left:20px" alt="" /></a>
</div>
</div>
<div class="row">
	<div class="span8 offset1">
	<p class="text-muted"><small>Fotografías de Mauricio Gómez</small></p>
</div>
</div>
<div class="row">
	<div class="span8 offset1">
		<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>