<div class="span10 offset1">
	<div class="row">
		<img src="https://s3.amazonaws.com/bibliorock/Fotos-78.jpg" alt="" />
	</div>
	<br><br>
	<div class="row" style="margin-left:-30px">
		<div class="span2">
			<a href="/galeria7"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-67.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/galeria7"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-69.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/galeria6"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-61.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/galeria6"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-70.jpg" alt="" /></a>
		</div>
	</div>
	<br><br>
	<div class="row" style="margin-left:-30px">
		<div class="span2">
			<a href="/galeria5"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-63.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/galeria5"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-72.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/bibliocabinas"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-66.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/bibliocabinas"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-75.jpg" alt="" /></a>
		</div>
	</div>
	<br><br>
	<div class="row" style="margin-left:-30px">
		<div class="span2">
			<a href="/galeria3"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-62.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/galeria3"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-71.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/sociales"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-64.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/sociales"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-73.jpg" alt="" /></a>
		</div>
	</div>
	<br><br>
	<div class="row" style="margin-left:-30px">
		<div class="span2">
			<a href="/galeria4"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-68.jpg" alt="" /></a>
		</div>
		<div class="span3">
			<a href="/galeria4"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-76.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/sociales"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-65.jpg" alt="" /></a>
		</div>
		<div class="span2">
			<a href="/sociales"><img src="https://s3.amazonaws.com/bibliorock/galerias/Ma%CC%81s+Fotos-74.jpg" alt="" /></a>
		</div>
	</div>
</div>