<div class="row">
<div class="span8 offset1">
		<div id="myCarousel3" class="carousel slide" data-ride="carousel" style="width: 720px; height: 480px;">
			<div class="carousel-inner">
				<div class="item active" align="center">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_1.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_2.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_3.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_4.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_5.jpg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_6.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_7.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_8.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_9.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_10.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_11.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_12.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_13.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_14.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_15.jpeg" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_16.jpeg" height="480" width="320" alt="" />
				</div>
				<div class="item">
					<img src="https://s3.amazonaws.com/bibliorock/fotos+eventos/evento+7/GAM_17.jpeg" alt="" />
				</div>
			</div>
			<a class="left carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" style="top: 50%;" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
</div>
</div>
<div class="row">
	<div class="span8 offset1">
	<p class="text-muted"><small>Fotografías de<a href="http://www.flickr.com/photos/90174380@N07/"> Ekaterina Karamanoff</a>, Pablo Baeza y Mauricio Gómez</small></p>
</div>
</div>