
<div class="span12">
	<div class="row">
        <div class="span12 pagination-centered">
          <img id="logo" src="/assets/logo.png" />
        </div>
    </div>
	<div class="row">
		<div class="row">
			<div class="span12 pagination-centered">
				<h2>Encuentra/Lee/Comparte</h2>
				<p>La BibliotecaLibre es una iniciativa que promueve el intercambio gratuito de libros: las personas dejan o toman ejemplares de su interés.

				Los libros de La Biblioteca Libre no son de nadie en particular y son de todos en general.</p>
			</div>
		</div>
		<div>
			<div class="span6 pagination-centered">
				<p>¿Encontraste un libro?</p>
				<p><%= link_to '¡REGISTRALO ACÁ!', new_finding_path, { class: "btn btn-primary btn-large", style: "color: white;" } %></p>
			</div>
			<div class="span6 pagination-centered">
				<p>¿Quieres liberar un libro?</p>
				<p><%= link_to 'LIBERALO ACÁ!', new_release_path, { class: "btn btn-primary btn-large", style: "color: white;" } %></p>
			</div>
		</div>
		<div class="row">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        Noticias &#9660;
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			      	<p> Vísitanos: <a href="http://www.facebook.com/events/518225834907858/">Evento facebook</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        Preguntas frecuentes &#9660;
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
					<dl>
						<dt>¿Pueden resumir cómo funciona La Biblioteca Libre en unos pocos pasos?</dt>
						<dd>Simple: Encuentra, Lee y comparte!</dd>
						<dt>¿A qué se refieren con liberar un libro?</dt>
						<dd>Cada vez que un libro recibe un nuevo código y es entregado a una persona para que lo lea, registre y comparta una vez leído</dd>
						<dt>¿Cómo registro un libro?</dt>
						<dd>Por el momento lo debes hacer directamente en las liberaciones masivas que organizamos. Pronto habilitaremos este sitio web para que puedas hacerlo =)</dd>
						<dt>Encontré un libro de La Biblioteca Libre. ¿Qué tengo que hacer?</dt>
						<dd>¡Reporta el hallazgo! Es muy importante para nosotros saber que libros están siendo leídos.</dd>
						<dt>¿Dónde encuentro más libros?</dt>
						<dd>Atento a nuestro facebook para que sepas de las actividades que organizamos.</dd>
						<dt>¿La Biblioteca Libre tiene algún espacio físico propio?</dt>
						<dd>Aún no :P</dd>
						<dt>¿Qué hago si se me pierde un libro?</dt>
						<dd>Libera uno o más libros en compensación</dd>
						<dt>¿Puedo poner en circulación mis libros?</dt>
						<dd>¡Si! Pronto más información</dd>
						<dt>¿Tengo que leer un libro antes de liberarlo?</dt>
						<dt>¿Qué pasa si me quedo con el libro y no lo comparto?</dt>
						<dd>El libro poco a poco morirá, debes compartirlo para que alguien más lo lea y el libro siga con vida.</dd>
						<dt>¿Cómo le paso el libro a otra persona? ¿Dónde? ¿A quién? ¿Qué le digo?</dt>
						<dd>Pásale el libro y dile que ingrese a este sitio web para que registre que lo tiene en su poder</dd>
					</dl>
			      </div>
			    </div>
			  </div>			 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="fb-like pull-right" data-href="http://www.facebook.com/labibliotecalibre" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
		</div>
	</div>
</div>