<div class="row">
	<div class="span12" style="text-align: center;">
		<img src="/assets/diab.jpg" alt="">
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="well">

			<p>Con motivo de la celebración de El Día B, el Día internacional de la Bibliodiversidad, a desarrollarse el 21 de septiembre de 2013, los invitamos a ser parte de esta iniciativa y compartir libros con el propósito de hacerlos circular en forma gratuita.</p>

			<p>Serán 7 puntos, en los siguientes horarios:</p>

			<dl class="">
			  <dt>11:00 a 13:30 hrs.:</dt>
			  <dd>Plaza de Armas, Estación Central, Mercado Central y Cerro San Cristóbal.</dd>
			  <dt>15:30 a 17:30 hrs.:</dt>
			  <dd>Parque Quinta Normal, Metro Baquedano y Metro Los Leones.</dd>
			</dl>

			<p>Más información sobre El Día B en: <a href="http://eldiab.org/">http://eldiab.org/</a></p>

			<p>Invitan: Asociación de Editores de Chile, Agrupación de Editores de La Furia, Alianza Internacional de Editores Independientes y la Biblioteca Libre.</p>
		</div>
	</div>
</div>