

<div class="row">
	<div class="span12" style="text-align: center;">
		<img src="/assets/Portada Web_Museo Educación-02.jpg" alt="">
	</div>
</div>
<br />
<div class="row">
	<div class="span12">
	<!-- <img src="/assets/cclm.jpg" alt=""> -->
		<div class="well">
			<p>¡Una vez más la Biblioteca Libre abre sus puertas! El <strong>sábado 12 de octubre</strong> más de 1.400 libros serán liberados en el <strong>Museo de la Educación Gabriela Mistral</strong> (Chacabuco 365, metro Quinta Normal). Podrán encontrar narrativa, cuentos, clásicos universales, poesía, teatro, novelas gráficas y un sin fin de títulos literarios.</p>

			<p>¿Qué es la Biblioteca Libre?
			Es una biblioteca colectiva creada con los aportes de miles de libros de cientos de personas, para que éstos sean compartidos entre todos y no se pierdan en los hogares sin que nadie los lea.</p>

			<P>¿Cómo funciona?
			Por cada libro que liberes, te podrás llevar 2 libros (con un tope de 5 libros). No es un trueque, porque los libros que aportes serán tomados por otras personas.</P>

			<p>En esta ocasión tendremos cuentacuentos, exposiciones y talleres de Cátedras Libres!</p>

			<p>Más información en: <a href="https://www.facebook.com/events/725760937441284/">12ª Liberación de Libros</a></p>
		</div>
	</div>
</div>