<div class="row">
	<div class="span12" style="text-align: center;">
		<img src="/assets/Web_La Moneda.001.jpg" alt="" >
	</div>
</div>
<br />
<div class="row">
	<div class="span12">
	<!-- <img src="/assets/cclm.jpg" alt=""> -->
		<div class="well">

			<p>¡Una vez más la Biblioteca Libre abre sus puertas! El domingo 29 de septiembre, de 15:00 a 19:30 horas, más de 1.200 libros serán liberados en el Centro Cultural La Moneda. Podrán encontrar narrativa, cuentos, clásicos universales, poesía, teatro, novelas gráficas y un sin fin de títulos literarios.</p>

			<p>¿Cómo funciona?
			Por cada libro que liberes, te podrás llevar 2 libros (con un tope de 5 libros). No es un trueque, porque los libros que liberes serán tomados por otras personas.</p>

			<p>En esta ocasión tendremos cuentacuentos, exposiciones y talleres de Cátedras Libres!</p>

			<p>Más información en: <a href="https://www.facebook.com/events/201080350063491/">11ª Liberación de Libros</a></p>
		</div>
	</div>
</div>