<div class="row">
	<div class="span12">
		<div class="well">
			<p>¡Por décima vez! :D La Biblioteca Libre abre sus puertas el <strong>sábado 7 de septiembre</strong> y más de 1.200 libros serán liberados. Podrán encontrar narrativa, cuentos, clásicos universales, poesía, teatro, novelas gráficas y un sin fin de títulos literarios.</p>

			<p>¿Cómo funciona? Por cada libro que liberes, te podrás llevar 2 libros (con un tope de 5 libros). No es un trueque, porque los libros que liberes serán tomados por otras personas.</p>

			<p>En esta ocasión estaremos en el Centro Gabriela Mistral (GAM), de 11:30 a 17:30 horas. Tendremos cuentacuentos, un poquito de teatro y hasta un circo (gestionado por GAM)!</p>

			<p>Más información en Facebook: <a href="https://www.facebook.com/events/573098706070038/">10ª Liberación de Libros</a></p>
		</div>
	</div>
</div>