<div class="row">
	<div class="span12">
	<img src="/assets/Concurso Literario_Web-01.png" alt="">
		<div class="well">

			<p>¿Tienes una historia qué contar? ¿Algo mágico que expresar? El <strong>concurso literario</strong> de la Biblioteca Libre espera recibir tus experiencias de celos, desilusiones, declaraciones fallidas y/o vergonzosos actos públicos… Ahora, si eres uno de esos que sí lograron la atención de esa persona especial, no dudes compartir tu experiencia aquí.</p>

			<p>Son 5 páginas tamaño carta, como máximo de extensión, que puedes usar para contar tu vivencia (o la de otro si fuiste testigo de algo que crees que el mundo debiera saber). Puedes hacerlo utilizando el género literario que más te guste. </p>

			<p>En todo caso, no te tomes mucho tiempo pues la fecha límite para recibir tu escrito vence, irrevocablemente, <strong>el miércoles 30 de octubre a las 23:59 hrs</strong>.</p>

			<p>¿El premio? Los 10 textos más destacados serán publicados en un <strong>libro edición especial</strong> de la Biblioteca Libre.</p>

			<p>Una vez que tu texto ganador esté listo, ingresa a www.bibliotecalibre.cl y ve al botón 'Concurso literario', sigue los pasos para que tu historia amorosa comience su camino al reconocimiento. Además, aprovecha de revisar las <a href="/assets/Bases Concurso Literario_BL.pdf" target="_blank">bases</a> del concurso por si te queda alguna duda.</p>

			<p>Recuerda que siempre puedes contactar al equipo de la Biblioteca Libre en biblioteca@catedraslibres.com en caso de consultas.</p>
		</div>
	</div>
</div>