<div class="row">
	<div class="span8 offset2">
		<div class="row">
			<div class="span8">
				<p><strong>Liberaciones de Libros</strong></p>
				<p>Cada dos semanas, en lugares históricos y patrimoniales de la ciudad, organizamos una actividad llamada Liberación Masiva de Libros, con el objeto de, además de promover el hábito de la lectura, apreciar y valorar los lugares más pintorescos de Santiago.</p>
				<p>El evento consiste en la disposición de 1.000 libros en un lugar determinado, lo que permitirá el intercambio gratuito de libros, para que quienes asistan, dejen o tomen ejemplares de su interés.</p>
				<p>Hasta la fecha hemos realizado 10  Liberaciones de Libros, en puntos tan fascinantes de la ciudad como: Parque Forestal, Barrio Concha y Toro, Cerro Santa Lucía, Parque Quinta Normal, Palacio Cousiño y Centro Gabriela Mistral; y esperamos realizar 8 más durante el año. Más de 10.000 libros han sido liberados y cerca de 7.000 personas han participado de esta iniciativa.</p>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<img src="/assets/BL_Lienzo Flujo-03.png" height="447" width="770" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<p><strong>Liberaciones exprés de Libros</strong></p>
				<p>Como su nombre lo indica, estas liberaciones son instantáneas, pero además, son especiales porque no tienen difusión y son intervenciones en espacios con una gran afluencia de público. Aquí no hay que traer libros para llevarse uno. Sólo toma el que más te gusta y disfruta.</p>
				<p>Así que atento, porque en cualquier minuto te podemos sorprender con libros :) </p>
			</div>
			<div class="span8" align="center">
						<iframe height="220px" src="//www.youtube.com/embed/PrREMzGfT3g" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="alert alert-info" style="margin-top: 10px;">
			<div class="row">
				<div class="span8">
						<p>¿Eres parte e una organización, colectivo, escuela o universidad, y te gustaría organizar una liberación de libros en tu comunidad? <%= link_to('Invítanos', invitanos_path, class: 'center') %></p>
				</div>
			</div>
		</div>
	</div>
</div>