<% if @book %>
  <input type="hidden" name="finding[book_id]" value="<%= @book.id %>">

  <p>
    <b>Title:</b>
    <%= @book.title %>
  </p>

  <p>
    <b>Code:</b>
    <%= @book.code %>
  </p>

  <p>
    <b>Pages:</b>
    <%= @book.pages %>
  </p>

<% else %>
  <p>Código invalido</p>
<% end %>