<div class="span10 offset1">
	<div class="row">
		<h2 style="color:#727272">
		Todas las entradas
		</h2>
	</div>
	<br><br>
		<% @posts.each do |post| %>
		<div class="row">
			<div class="span1 offset1">
				<%= link_to (image_tag post.small_picture.url(:large)), post %>
			</div>
			<div class="span4" style="margin-left: 8px">
				<%= link_to (post.title), post %>
				<p style="font-size:12px"><%= post.description %></p>
			</div>
		</div>
		<br><br>
		<% end %>
</div>