<div class="row">
	<%= render 'menu' %>
	<div class="span9">
	<h2>Donaciones de libros.</h2>

	<p>Nos encantan las donaciones. No solo porque quien lo hace lo hace de corazón, sino porque además son libros que permiten ampliar la variedad de textos de nuestra biblioteca. Por eso, si en tu hogar cuentas con libros que desees dar de baja y piensas que alguien más les podría sacar provecho, o si formas parte de alguna institución que desea donar algunos ejemplares, no lo dudes y contáctanos. Puedes venir a dejarlos personalmente o bien, podemos ir a retirarlos.</p>

	<p>Hemos elaborado algunas consideraciones para tomar en cuenta al momento de donar:</p>

	<ul>
		<li>Los libros deben estar en buen estado.</li>
		<li>Deben ser originales.</li>
		<li>No deben ser fotocopias, cuadernos y/o apuntes de estudios universitarios.</li>
	</ul>
	<p>Recomendamos revisar las cajas antes de ser entregadas, pues nos hemos encontrado con varios objetos personales y no queremos que te angusties por la pérdida.</p>
	</div>
</div>