<div class="row">
	<div class="span2 offset1">
		<p style="color: #ffffff">.</p>
		<ul class="nav nav-pills nav-stacked">
  			<li><a href="/posts/new"> Manifiesto</a></li>
  			<li class="active"><a href="#"> Equipo</a></li>
  			<li><a href="/about/faqs"> Faqs</a></li>
  			<li><a href="/contact"> Contacto</a></li>
		</ul>
	</div>
	<br>
	<div class="span2 offset1">
		<img src="https://s3.amazonaws.com/bibliorock/Equipo-1.png" widht="150" height="150" alt="" />
	</div>
	<div class="span5">
	<h3 style="color:#727272">	
	Carlos Mancilla Cofré
	</h3>
	<br>
	<p>
	Chileno, 25 años. Cofundador de Cátedras Libres y la Biblioteca Libre. Ingeniero Civil Eléctrico de la Universidad de Chile. Le gusta el fútbol. Simpatizante de Colo-Colo. Desde hace mucho tiempo que está ligado a proyectos que se esfuerzan por disminuir la tremenda brecha educacional que existe en nuestro país.
	</p>
</div>
</div>
<br><br><br>
<div class="row">
	<div class="span2 offset4">
		<img src="https://s3.amazonaws.com/bibliorock/Equipo-2.png" widht="150" height="150" alt="" />
	</div>
	<div class="span5">
	<h3 style="color:#727272">	
	Diego Ramírez Hizaut
	</h3>
	<br>
	<p>
	Chileno, 25 años. Emprendedor en Start-Up Chile, cofundador de Cátedras Libres y La Biblioteca Libre, estudiante de Ingeniería Comercial en la U. de Chile y eterno voluntario por causas sociales.
	</p>
	</div>
</div>
<br><br><br>
<div class="row">
	<div class="span2 offset4">
		<img src="https://s3.amazonaws.com/bibliorock/Mr_Morton-60.jpg" alt="" widht="150" height="150" />
	</div>
	<div class="span5">
	<h3 style="color:#727272">	
	Raúl Muñoz Muñoz
	</h3>
	<br>
	</div>
</div>
<br><br><br>
<div class="row">
	<div class="span2 offset4">
		<img src="https://s3.amazonaws.com/bibliorock/Equipo-3.png" widht="150" height="150" alt="" />
	</div>
	<div class="span5">
	<h3 style="color:#727272">		
	Juan Carlos Piña
	</h3>
	<br>
	</div>
</div>
