<div class="row">
	<%= render 'menu' %>
	<br>
	<div class="span7 offset1 well negro center"
	<dl>
		<h2> Preguntas Frecuentes </h2>
		<br><br>
		<a href='javascript:void(0)' onclick="toggle_visibility('p1');"><p><strong>¿De qué se trata La Biblioteca Libre?</strong></p></a>
		<div id="p1" style="display:none">En pocas palabras: encuentra, lee y comparte.</div>
		<br>

		<a href='javascript:void(0)' onclick="toggle_visibility('p2');"><p><strong>¿Pueden resumir cómo funciona La Biblioteca Libre en unos pocos pasos?</strong></p></a>
		<div id="p2" style="display:none">Cada libro que encuentres y que tenga un código y adhesivo de La Biblioteca Libre tienes que registrarlo en esta página web. Así sabremos que está en buenas manos y está siendo usado. En este proceso es muy importante compartirlo cuando lo hayas terminado, para que nadie se quede sin la oportunidad de leerlo.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p3');"><p><strong>¿Cómo registro un libro de La Biblioteca Libre que encontré o me pasaron?</strong></p></a>
		<div id="p3" style="display:none">En esta página haz clic en el botón ‘Registra’ y completa los datos.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p4');"><p><strong>Encontré un libro de La Biblioteca Libre. ¿Qué tengo que hacer?</strong></p></a>
		<div id="p4" style="display:none">Léelo. Luego, compártelo.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p5');"><p><strong>¿Dónde encuentro más libros?</strong></p></a>
		<div id="p5" style="display:none">Nos puedes visitar todo el año en nuestra biblioteca del barrio Bellas Artes (Santo Domingo 588, 2º piso), o encontrarnos en las Liberaciones de Libros que organizamos, las que tienen un funcionamiento itinerante en la ciudad de Santiago.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p6');"><p><strong>¿A qué se refieren con liberar un libro?</strong></p></a>
		<div id="p6" style="display:none">En La Biblioteca Libre creemos que cada libro tiene su magia, pero que se pierde si nadie lo lee. Por eso los liberamos, para que quien los encuentre pueda leerlos y disfrutarlos. La verdadera magia está en compartir.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p7');"><p><strong>¿Qué hago si se me pierde un libro?</strong></p></a>
		<div id="p7" style="display:none">Mala noticia… Bueno, una lástima. No te preocupes, no quedarás en la lista negra. Más cuidado para la próxima. Al menos otra persona lo estará aprovechando.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p8');"><p><strong>¿Qué hago si el código no venía en el libro?</strong></p></a>
		<div id="p8" style="display:none">Ingrésalo como una liberación tuya. Para eso tienes que hacer clic en el botón ‘Libera’ y llenar los campos necesarios. Recuerda compartirlo cuando lo hayas terminado.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p9');"><p><strong>¿Puedo poner en circulación mis libros?</strong></p></a>
		<div id="p9" style="display:none">Por supuesto. Para eso tienes que hacer clic en el botón ‘Libera’ y llenar los campos necesarios. Luego, compártelos con una persona a la que le puedan interesar los libros. También puedes llevarlos a nuestras Liberaciones de Libros.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p10');"><p><strong>¿Tengo que leer un libro antes de liberarlo?</strong></p></a>
		<div id="p10" style="display:none">Sólo si tú quieres.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p11');"><p><strong>¿Cómo lo hago para encontrar un libro que hace tiempo estoy buscando?</strong></p></a>
		<div id="p11" style="display:none">No existe un catálogo de los libros que tenemos. Como en las Liberaciones se producen muchos intercambiamos, no es posible tener toda la información al instante.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p12');"><p><strong>¿Qué pasa si me quedo con el libro y no lo comparto?</strong></p></a>
		<div id="p12" style="display:none">Mala idea. Nos gusta confiar en la gente, por lo que esperamos que eso no pase. No nos decepciones.</div>
		<br> 

		<a href='javascript:void(0)' onclick="toggle_visibility('p13');"><p><strong>¿Cómo le paso el libro a otra persona? ¿Dónde? ¿A quién? ¿Qué le digo?</strong></p></a>
		<div id="p13" style="display:none">Revisa que tenga el código. Después, busca a una persona especial para ti a la cual le pueda interesar el libro. Posteriormente, cuéntale sobre esta genial iniciativa y recuérdale que tiene que registrar el libro para que nosotros nos enteremos de que está en buenas manos. Por último, dile que haga lo mismo que hiciste tú: compartirlo.</div>
		<br>
	</dl>
	</div>
</div>
