<div class="row">
	<%= render 'menu' %>
	<div class="span9">
		<h2>Manifiesto de la Biblioteca Libre</h2>

		<h3>¿Qué es la Biblioteca Libre?</h3>
		<p>La Biblioteca Libre es un proyecto que busca fomentar la lectura por medio del intercambio o trueque de libros, además de acercar las artes y la cultura a la comunidad.</p>

		<h3>¿En qué creemos?</h3>
		<p>La base que fundamenta nuestra Biblioteca es el acceso universal y transversal a la lectura, poniendo al alcance de todos material literario con gran variedad de contenido en diversas instancias como:</p>

		<ul>
			<li>Intercambio de libros, con intervenciones como la Casita de Libros, en zonas de alta afluencia de público o de interés como parques, centros comerciales, centros culturales y colegios, entre otros.</li>
			<li>Apropiarse de espacios que habitualmente tienen otra finalidad, como el proyecto Bibliocabinas en que empleamos las cabinas telefónicas en desuso de la ciudad de Santiago para elaborar bibliotecas de calle, o Bibliotaxi, que invitaba a leer o intercambiar libros mientras se viajaba en taxi.</li>
			<li>Venta de libros sin IVA.</li>
			<li>Biblioteca física ubicada en Santo Domingo #588, segundo piso, pensada como casa matriz de la Biblioteca Libre y un lugar de encuentro para lectores.</li>
			<li>Fomento lector a través actividades como concursos, reseñas literarias e historias de libros que han sido encontrados en nuestra Biblioteca por medio de nuestro sitio web.</li>
			<li>Gestión de donaciones de libros para armar bibliotecas en colegios vulnerables u otras causas sociales.</li>
		</ul>

		<p>De igual forma, creemos en la solidaridad de quienes participan en cada una de estas instancias, pues el acto de dejar un libro en nuestra biblioteca implica pensar en el otro, dejando un tesoro oculto que otra alma puede descubrir para encantarse con la lectura.</p>
	</div>
</div>