<div class="row">
	<%= render 'menu' %>
	<div class="span9">
		<h2>Normas de intercambio y donaciones en La Biblioteca Libre</h2>

		<p>Intercambiar un libro es un acto de empatía. Es entender que hay un otro que puede necesitar o interesarse por un libro que tal vez yo tengo. Por eso te invitamos, paradójicamente, a pensar en tí antes de intercambiar el libro y hacerte estas preguntas: ¿Te gustaría encontrar un libro de esta temática? ¿Estarías dispuesto a cambiar este libro por uno en mal estado? Si haces este ejercicio antes de venir a intercambiar, tu experiencia y la de los demás mejorará considerablemente.</p>

		<p>La Biblioteca Libre es un proyecto que busca fomentar la lectura, por medio del intercambio o trueque de libros, además de acercar las artes y la cultura a la comunidad. Para que el propósito de nuestra biblioteca se cumpla, hemos establecido algunas normas que apuntan al estado, tipo de libro que se entrega y las cantidades a intercambiar, entre otros aspectos.</p>

		<p>Para los intercambios habituales en nuestra biblioteca o en las actividades como la Casita de Libros, las normas son las siguientes:</p>

		<ol>
		<li>El libro que deseas intercambiar debe estar en muy buen estado, es decir, no debe: tener hojas sueltas, tapas y lomo despegado, haber estado mojado, estar manchado o contar con rayones en su portada o en el interior que dificulten su lectura. Si el libro cuenta con dedicatorias, algunos subrayados o nombres de personas en una de sus páginas, no es limitante para que sea objeto de cambio.
		Hemos establecido esta norma pues queremos que la experiencia entre nuestros biblioamigos sea grata. De esta manera, nos aseguramos que los ejemplares que ustedes hallen en la biblioteca sean dignos de refugiarse en sus manos. Además, nuestra biblioteca no realiza restauraciones de libros, por lo tanto, por muy interesante que sea el libro, si no está en buenas condiciones, es mejor abstenerse.</li>

		<li>No debe formar parte de colecciones escolares antiguas como: Centro Gráfico, Ercilla, Zig Zag, Colicheuque, Soluciones Escolares o Icarito, entre otras publicaciones antiguas que venían con revistas o diarios.

		En los comienzos de la biblioteca fuimos flexibles y los recibimos, sin embargo, llegaron demasiados y no había circulación. Es decir, nos llegaban muchos, pero no había lectores interesados en aquellas ediciones. Si bien estas colecciones poseen obras clásicas de la literatura universal, su misma edición y formato (textos mucho más breves y de letra pequeña) hacen que hoy no sean valorados. Como biblioteca quisimos darles una segunda oportunidad, pero por capacidad y por mantener la pluralidad no podemos seguir albergándolos.</li>

		<li>Debe ser original. En la Biblioteca libre queremos acercar la lectura a las personas, sin embargo, creemos que ese objetivo debe cumplirse respetando los derechos de autor y la propiedad intelectual, pues sin el trabajo que realizan los escritores, no podríamos disfrutar de la existencia de obras que han llenado nuestra mente con teorías, personajes y lugares sin igual. Como valoramos todo el trabajo del autor, así como también el trabajo editorial que hay detrás (ya sea en diseño, diagramación y correcciones) NO aceptamos libros piratas o “alternativos”. Por ello, y para facilitar la identificación de los falsos ejemplares, hemos elaborado esta guía.</li>

		<li>El libro que vas a entregar NO debe formar parte de estas categorías:
			<ul>
			<li>Libros religiosos o de editoriales asociadas a una iglesia o credo en particular.</li>
			<li>Biografías de años de publicación anterior al 2000. Queremos que nuestra biblioteca tenga contenido variado y actualizado.</li>
			<li>Divulgación científica como revistas de universidades, tesis o compendios de apuntes, entre otros. Si bien contamos con obras de corte académico, nuestro objetivo es llegar a la mayor cantidad de personas, sobre todo a aquellas que tienen dificultades para adquirir libros por vía tradicional, no a nichos. No queremos volvernos una biblioteca académica.</li>
			<li>Manuales de superación personal anteriores al año 2000. Por ejemplo: “Cómo dejar de ser cesante o las fórmulas para descubrir, inventar y mejorar el trabajo (sin capital)”</li>
			<li>Libros para colorear (niños y adultos) que estén pintados o rayados.</li>
			<li>Enciclopedias y diccionarios</li>
			</ul>
		</li>

		<li>Puedes intercambiar un máximo de 5 libros cada 2 semanas (10 al mes). Esta norma está pensada para evitar el aprovechamiento de algunas personas que venían a “renovar su stock” a la biblioteca para venderlos.</li>

		<li>El intercambio de libros debe ser lo más equivalente posible. Si traes un libro en inglés, puedes llevarte uno en inglés, si trajiste los de lectura escolar complementaria de tu hermanito, puedes intercambiarlo por otros textos infantiles, o si dejaste un libro de ensayos, puedes llevarte uno de ensayos. 

		Nos ocurrió mucho que todos traían los libros de sus hermanos e hijos para intercambiar. Eso hace que la biblioteca no posea un catálogo de libros variado y actualizado, sino un sin fin de listas escolares.</li>
		</ol>

		<h2>Guía para reconocer un libro pirata o “alternativo”.</h2>

		<p>Antes, una forma fácil de reconocer un libro pirata era por el tipo de papel. Solían usar el papel blanco, en vez de ese color ahuesado tan característico de los libros. Sin embargo, hoy en día la “industria de la piratería” está cada vez más sofisticada, en algunos casos el papel es del mismo tipo que aquel que poseen los originales. Por ello, hemos elaborado esta pequeña guía para que puedas reconocer cuando un libro no proviene de su fuente original y sepas de antemano si puedes o no usarlo para intercambiar o donar a nuestra biblioteca.</p>

		<ol>
			<li>La impresión no es de buena calidad. Eso genera que los párrafos sean poco legibles.</li>
			<li>Al leer el libro, o en realidad, al abrirlo, las hojas se despegan con facilidad.</li>
			<li>Páginas completas están descuadradas y corridas.</li>
			<li>Los colores de las portadas de los libros, en ocasiones, son diferentes al original. A veces más oscuros, otros más claros, pero evidencia el ahorro en la calidad de la impresión.</li>
			<li>Tapa, contratapa y lomo están corridos, no correspondiendo con los pliegues del libro.</li>
		</ol>
	</div>

</div>