//= require_self
//= require bootstrap_and_overrides
//= require_tree .



html, body {
	height: 100%;
	/* width: 100%; */
}

.content {
  background-color: #eee;
  /* padding: 20px; */
  height: 100%;
  width: 100%;
  /* margin: 0px -20px;  negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.centered
{
    text-align:center;
}