body {
  background-color: #00c2df;
  /* background-color: #196EFF; */
  /* background-image: url("fondo1.png"); */
  background-position: right bottom;
  background-repeat: no-repeat;
  color: white; /* #333; */
  font-family: verdana, arial, helvetica, sans-serif;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  margin: 0px;
}

.carousel {
    height: 340px;
    width: 770px;
}

.btn {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #636363;
  &:hover {
    color: #0055cc;
  }
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.view {
    width: 166px;
    height: 128px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

#view1.view{
  width: 166px;
  height: 128px;
}

#view2.view{
  width: 260px;
  height: 260px;
}

#view3.view{
  width: 376px;
  height: 290px;
}

#view4.view{
  width: 128px;
  height: 128px;
}

#view5.view{
  width: 194px;
  height: 160px;
}

.view .mask, .view .content {
    width: 166px;
    height: 128px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#mask1.mask{
  width: 166px;
  height: 128px;
}

#mask2.mask{
  width: 260px;
  height: 260px;
}

#mask3.mask{
  width: 376px;
  height: 290px;
}

#mask4.mask{
  width: 128px;
  height: 128px;
}

#mask5.mask{
  width: 194px;
  height: 160px;
}

.view img {
    display: block;
    position: relative;
}
.view h2 {
    color: #fff;
    font-family: Helvetica;
    font-weight: 500;
    text-align: left;
    position: relative;
    font-size: 13px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 70px;
}

#view2.view h2 {
  margin-top: 200px;
}

#view3.view h2 {
  margin-top: 230px;
}

#view5.view h2 {
  margin-top: 100px;
}

.view p {
    font-family: Helvetica Neue Lt Std 65 Medium;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-sixth img { 
    transition: all 0.4s ease-in-out 0.5s; 
}
.view-sixth .mask{ 
    background-color: rgba(26,117,177, 1);
    opacity:0;
    transition: all 0.1s ease-in 0.1s;
}
.view-sixth h2{
    opacity:0;
    background: transparent;
    transform: scale(10);
    transition: all 0.1s ease-in-out 0.1s;
}
.view-sixth p { 
    opacity:0;
    transform: scale(10);
    transition: all 0.1s ease-in-out 0.1s;
    margin-top: -15px;
}
.view-sixth a.info { 
    opacity:0;
    transform: translateY(100px);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {  
    opacity:1; 
    transition-delay: 0s;
}                                                                            
.view-sixth:hover img { 
    transition-delay: 0s; 
}
.view-sixth:hover h2 { 
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}
.view-sixth:hover p { 
    opacity:1; 
    transform: scale(1);
    transition-delay: 0.2s;
}
.view-sixth:hover a.info { 
    opacity:1;
    transform: translateY(0px);
    transition-delay: 0.3s;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push {
  height: 70px;
}

#footer {
  height: 130px;
}
#footer {
  background-color: #333333; /* #f5f5f5; */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
        padding-top: 60px;
      }

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

div {
display: block;
}

.pregu01 {
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #49132A;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #49132A;
margin-bottom: 5px;
}

.pregu02 {
font-family: Georgia, "Times New Roman", Times, serif;
color: #7E113B;
font-size: 11px;
font-style: normal;
font-weight: normal;
}