<p id="notice"><%= notice %></p>

<p>
  <b>Haz liberado: </b>
  <%= Book.find(@release.book_id).title %>
</p>
<p>¡Muchas gracias!</p>


<%= user_signed_in? ? link_to('Editar', edit_release_path(@release) )+' |' : '' %>
<%= link_to 'Volver', root_path %>
