<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @message.name %></h1>
    <p>
      Gracias por compartir tu obra en este concurso.<br/>
    </p>
    <p>
      Éxito para la etapa siguiente.
    </p>
    <p>Saludos!</p>
  </body>
</html>